<div class="register-wrapper">
  <div class="register-content-wrapper">
    <img class="logo" src="../../../../assets/logo.png" alt="logo" />
    <div class="register-content-text-wrapper">
      <h2>Welcome to <span class="app-name">Sound Surf!</span></h2>
      <h3>You need to authorize on freesound to continue</h3>
    </div>
    <button class="authorize-button jello-horizontal" (click)="authorize()">
      Authorize
      <img
        class="redirection-icon"
        src="../../../../assets/redirection.png"
        alt="redirection"
      />
    </button>
  </div>
</div>
